/* Normalisation des propriétés */

*{
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  list-style: none;
  text-decoration: none;
  color: #000;
  border-radius: initial;
}

/* Classes généralistes pour mise en page */

.container{
  width: 100vw;
  height: 100vh;
}

.flexybox{
  display: flex;
}

.columnflex{
  flex-direction: column;
}

.centercontent{
  justify-content: center;
}

.aligncenter{
  align-items: center;
}

/* header */

header{
  flex: 1;
  justify-content: flex-end;
}

.misenpage{
  flex: 1 1 auto;
}

/* Section du centre de la page */

section{
  flex: 10;
}

#allinclusive{
  width: 45%;
  border: solid 1px #d9d9d9;
  padding: 8px;
}

.centercontainer{
  width: 100%;
}

p a{
  color: blue;
}

/* footer */

footer{
    flex: 1;
}

footer nav{
  flex: 1;
}
